nav{
	font-size: 20px;
	margin: 10px;
}
#nav_bar ul{
	list-style: none;
	padding: .5em 0;
	background-color:  	#3a71ce;
	text-align: center;
	border-radius: 5px;
}
#nav_bar li{
	display: inline;
}
#nav_bar a{
	padding: 1em 1em;
	color: black;
	font-weight: bold;
	text-decoration: none;
	letter-spacing: 1px;
}

h1{
	font-size: 80px;
	font-family: ;
	color: #807456;
	margin: 5px;
	padding: 5px;
	text-align: center;	
}

html{
	background-color: black;
}

#HPinfo{
	columns:100px 3;
-webkit-columns:100px 3;
-moz-columns:100px 3; 
}

.info_pics{
	text-align: center;
}

.pic_title{
	font-size: 30px;
}

body{
	background-color: #FFFFFF;
	border-radius: 25px;
	margin: 15px 5px 15px 5px;
}

footer{
	margin: 5px;
	padding: 3px;
	text-align: center;
	border: #807456;
	border-radius: 75px 75px 75px 75px;
	color:#FFFFFF;
	background-color: #807456;
	
	
}
